@import '~styles/common/export.scss';

.auth-header {
  display: flex;
  flex-flow: row nowrap;
  background-color: white !important;
  align-items: center;

  .ant-menu {
    flex: auto;
    color: blue;
  }

  .ant-menu-submenu-title a {
    color: rgba(0,0,0,.85);
  }

  .ant-menu-submenu-active,
  .ant-menu-submenu-selected {
    .ant-menu-submenu-title a {
      color: var(--ant-primary-color);
    }
  }
}
