// color
$primaryColor: #f58220;

// Box shadow
$shadowLow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05) !default;
$shadowMedium: 0px 8px 8px 0px rgba(0, 0, 0, 0.05) !default;
$shadowHigh: 0px 12px 16px 0px rgba(0, 0, 0, 0.05) !default;
$shadowPopup: 0px 20px 24px 0px rgba(0, 0, 0, 0.1) !default;
