@import '~styles/common/export.scss';

.custom-menu {
    &-item {
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
        &__active {
            background-color: yellow;
        }
    }

    .ant-divider {
        margin: 5px 0px;
    }
}